footer {
    background-color: var(--secondary-color);
    position: sticky;
    height: 50px;
    display: inline-block;
    bottom: 0;
    width: 100%;
    align-content: center;

    p {
        color: white;
        padding: 0 10px;
        font-weight: 400;

        a {
            color: white;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}