footer {
    background-color: var(--secondary-color);
    position: fixed;
    height: 3.125rem;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    align-content: center;

    p {
        color: white;
        padding: 0.9375rem;
        font-weight: 400;
        align-content: center;


        a {
            color: white;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .upbtn a {
        color: var(--primary-color);
        font-size: 3rem;
        display: inline-block;
        position: absolute;
        bottom: 3.125rem;
        right: 0;
        width: 3.125rem;
        height: 3.125rem;
    }
}