@media(width >=601px) {
    .apartados {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0.625rem;

        .apar {
            width: 50%;
            padding: 10px 1.875rem;
            border-left: 0.125rem solid rgba(0, 0, 0, 0.2);
            border-bottom: none;
            flex: 0 0 43%;


            &:last-child {
                flex: 0 0 95%;
            }
        }
    }

    .aboutus {
        flex-direction: row;

        figure {
            width: 100%;
        }

        .history {
            width: 100%;
        }
    }
}

@media(width>=769px) {
    nav {
        align-content: center;
    }

    .line {
        flex-direction: row;

        .hamburger {
            display: none;
        }
    }

    div.menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1.25rem;
    }

    div.menu ul.desp {

        flex-direction: row;
        margin: 0 0.9375rem;
        gap: var(--gap);

        li {
            border-bottom: none;
            padding-bottom: 0.625rem;
            opacity: 0.6;
        }

    }

    header .upper li a span {
        display: inline;
        color: white;
    }

    section.main {
        top: 0;
    }

    .apartados {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;


        .apar {
            width: 0;
            flex: auto;


            &:last-child {
                flex: auto;

            }

            a {
                margin-bottom: 5px;
            }
        }

    }

    .aboutus {
        figure {
            padding: 0;
            width: 50%;

            .marco {
                width: 90%;
            }
        }

        .history {
            padding: 20px;
            width: 50%;
        }
    }
}